.hideimg{display: none;width: 310px;height: 310px;position: absolute;z-index: 999;}
.hideimg img{width: 310px;height: 310px;}
.pos-r{position: relative;}
.pos-r tr{position: relative;}
.hide{display: none;}